.editable_text {
	border:dashed red 1px;
	cursor: text;
}
.over_editable_text {
	border:dashed blue 1px;
	cursor: text;
}

.editable_title {
	border:dashed red 1px;
	cursor: text;
}
.over_editable_title {
	border:dashed blue 1px;
	cursor: text;
}

.editable_date {
	border:dashed red 1px;
	cursor: text;
}
.over_editable_date {
	border:dashed blue 1px;
	cursor: text;
}

.editable_image {
	border:dashed red 1px;
	cursor: hand;
}
.over_editable_image {
	border:dashed blue 1px;
	cursor: hand;
}

.editable_detail {
	border:dashed red 1px;
	cursor: text;
}
.over_editable_detail {
	border:dashed blue 1px;
	cursor: text;
}
